#include <windows.h>
#include "resource.h"

//
// Dialog resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_MAIN_SOCKET DIALOG 0, 0, 229, 223
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "Ms Shell Dlg"
{
    CONTROL         "IP", IDC_IP_ADDR, WC_IPADDRESS, WS_TABSTOP, 9, 14, 100, 13, WS_EX_LEFT
    LTEXT           "Destnation IP", 0, 10, 4, 44, 9, SS_LEFT, WS_EX_LEFT
    PUSHBUTTON      "Choose Files", IDC_CHOOSE_FILES, 169, 4, 52, 12, 0, WS_EX_LEFT
    LTEXT           "Port", 0, 117, 5, 14, 9, SS_LEFT, WS_EX_LEFT
    EDITTEXT        IDC_PORT, 117, 14, 34, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           ":", 0, 112, 16, 1, 9, SS_LEFT, WS_EX_LEFT
    PUSHBUTTON      "Start", IDC_START, 169, 18, 52, 12, 0, WS_EX_LEFT
    PUSHBUTTON      "Exit", IDCANCEL, 169, 32, 52, 14, 0, WS_EX_LEFT
    LTEXT           "Local IP", 0, 66, 39, 27, 9, SS_LEFT, WS_EX_LEFT
    GROUPBOX        "Mode", 0, 9, 46, 49, 39, 0, WS_EX_LEFT
    EDITTEXT        IDC_LOCAL_IP, 65, 52, 156, 42, WS_VSCROLL | NOT WS_BORDER | ES_AUTOHSCROLL | ES_MULTILINE | ES_READONLY, WS_EX_TRANSPARENT
    AUTORADIOBUTTON "Receive", IDC_RECV, 12, 59, 43, 8, 0, WS_EX_LEFT
    AUTORADIOBUTTON "Send", IDC_SEND, 12, 71, 33, 8, 0, WS_EX_LEFT
    LTEXT           "Status", 0, 10, 95, 21, 9, SS_LEFT, WS_EX_LEFT
    EDITTEXT        IDC_STATUS, 8, 107, 214, 108, WS_HSCROLL | WS_VSCROLL | ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_MULTILINE, WS_EX_LEFT
}

IDI_MYICON ICON "myicon.ico"
